.container{
    display: grid;
    text-align: center;
    font-size: x-large;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 100px 100px 200px 100px;
    
    grid-template-areas: 
                       "header header header header"
                        "main main main sidebar"
                        "footer footer footer footer";
                        grid-template-columns: auto 50px auto;
                    }
     
    .item{
    border: 2px solid rgb(2, 2, 2);
    height: 65px;

    }
    #item-1{
    grid-area: header;
    background-color: rgb(175, 47, 192);
    height: 85px;
    }
    #item-2{
     grid-area: main;   
     background-color: rgb(252, 223, 63);
     height: 455px;
    }
    #item-3{
        grid-area: sidebar;
        background-color: rgb(0, 238, 255);
        height: 455px;
    }
    #item-4{
        grid-area: footer;
        background-color: rgb(233, 33, 126);
    }
    
    .box{
    margin-top: 1px; 
    padding: 8px;
    font-size: large;

    }
   